Repository doomemacs/themes, pull requests merged in 2019-11, with the labels that each got.

#353 Fix/ci with colors macro
  Makefile
  test/doom-themes-color-test.el
  test/test-helper.el
Labels: bug

#355 Add 8-15 colors in vterm
  doom-themes-base.el
Labels: plugins

#354 Add telephone-line-faces
  doom-themes-base.el
Labels: plugins

#356 fixed-pitch-serif-face -> fixed-pitch-serif
  themes/doom-acario-light-theme.el
Labels: bug, theme:doom-acario-light

#358 add red background on gruvbox: ediff-current
  themes/doom-gruvbox-theme.el
Labels: bug, plugins, theme:doom-gruvbox

#359 gruvbox magit main view colors
  themes/doom-gruvbox-theme.el
Labels: enhancement, plugins, theme:doom-gruvbox
