Repository doomemacs/themes, pull requests merged in 2019-10, with the labels that each got.

#336 Mod: magit hunk heading face for city-lights
  themes/doom-city-lights-theme.el
Labels: plugins, theme:doom-city-lights

#333 Theme some hard to see faces in solarized light
  themes/doom-solarized-light-theme.el
Labels: plugins, theme:doom-solarized-light

#319 WIP: Add Acario themes
  themes/doom-acario-dark-theme.el
  themes/doom-acario-light-theme.el
Labels: New theme

#347 Make treemacs theme look better.
  doom-themes-ext-treemacs.el
Labels: plugins

#344 Add: face for pkgbuild-mode
  doom-themes-base.el
Labels: plugins
