Repository doomemacs/themes, pull requests merged in 2020-02, with the labels that each got.

#400 notmuch: Allow one to see added/deleted tags on unread mail
  doom-themes-base.el
Labels: plugins, theme:base

#398 Fix/acario 256 colors
  themes/doom-acario-dark-theme.el
  themes/doom-acario-light-theme.el
Labels: enhancement, theme:doom-acario-dark, theme:doom-acario-light

#407 Add web-mode and js2-mode styles to doom-dracula
  themes/doom-dracula-theme.el
Labels: enhancement, plugins, theme:doom-dracula

#408 Change Dracula's "type" color to violet
  themes/doom-dracula-theme.el
Labels: enhancement, theme:doom-dracula
