Repository doomemacs/themes, pull requests merged in 2020-08, with the labels that each got.

#493 Add: doom-old-hope-theme.el
  themes/doom-old-hope-theme.el
Labels: new theme

#492 Adding my port of Franbach's miramare theme
  README.md
  doom-themes.el
  themes/doom-miramare-theme.el
Labels: new theme

#491 Override helm settings in dracula-theme
  themes/doom-dracula-theme.el
Labels: enhancement, plugins, theme:doom-dracula

#256 Add plain theme
  README.md
  themes/doom-plain-theme.el
Labels: new theme, request
