Repository doomemacs/themes, pull requests merged in 2020-01, with the labels that each got.

#366 Acario/bright modeline tweaks
  themes/doom-acario-dark-theme.el
  themes/doom-acario-light-theme.el
Labels: theme:doom-acario-dark, theme:doom-acario-light, tweak

#365 Acario/lsp ui sideline
  themes/doom-acario-dark-theme.el
  themes/doom-acario-light-theme.el
Labels: plugins, theme:doom-acario-dark, theme:doom-acario-light

#371 Increase salience of `helm-source-header`
  doom-themes-base.el
Labels: enhancement, plugins

#380 Fix two typos in the README
  README.md
Labels: docs
