Repository doomemacs/themes, pull requests merged in 2020-04, with the labels that each got.

#449 [405][spacegray] Fix issues with visible asterisks
  themes/doom-spacegrey-theme.el
Labels: bug, theme:doom-spacegray

#444 [-] Add more `org-ref` faces
  doom-themes-base.el
Labels: plugins, theme:base

#440 Fix fixed-pitch-serif face
  themes/doom-acario-dark-theme.el
  themes/doom-manegarm-theme.el
Labels: bug, theme:doom-acario-dark, theme:doom-manegarm

#439 Change background of selection
  themes/doom-monokai-pro-theme.el
Labels: enhancement, theme:doom-monokai-pro

#412 Add lsp-ui-sideline-symbol-info face
  doom-themes-base.el
Labels: plugins, theme:base
