Repository doomemacs/themes, pull requests merged in 2020-11, with the labels that each got.

#534 Fix search and replace decoration in doom-gruvbox
  themes/doom-gruvbox-theme.el
Labels: bug, theme:doom-gruvbox

#533 Fix org source block indicators' visibility for doom-plain
  themes/doom-plain-theme.el
Labels: bug, theme:doom-plain

#541 solarized-dark: change variables to blue
  themes/doom-solarized-dark-theme.el
Labels: enhancement, theme:doom-solarized-dark

#519 Make the solarized-theme actually light in 256 colors mode
  themes/doom-solarized-light-theme.el
Labels: bug, theme:doom-solarized-light

#518 Flatwhite: Add blue highlight to variable names
  themes/doom-flatwhite-theme.el
Labels: enhancement, theme:doom-flatwhite

#540 add mmm-default-submode-face
  themes/doom-moonlight-theme.el
Labels: enhancement, theme:doom-moonlight
