Repository doomemacs/themes, pull requests merged in 2020-07, with the labels that each got.

#447 [-] Add zenburn theme
  themes/doom-zenburn-theme.el
Labels: new theme

#494 Fix Zenburn inherit face bug + minor visual enhancements
  themes/doom-zenburn-theme.el
Labels: bug, doom-zenburn, enhancement

#496 [doom-base] Add web-mode support for json-keys and context
  doom-themes-base.el
Labels: enhancement, plugins, theme:base
