Repository doomemacs/themes, pull requests merged in 2020-05, with the labels that each got.

#451 Minor face improvements for doom-one and doom-gruvbox
  themes/doom-gruvbox-theme.el
  themes/doom-one-theme.el
Labels: enhancement, theme:doom-gruvbox, theme:doom-one

#441 [WIP] Add Henna Theme
  README.md
  doom-themes.el
  themes/doom-henna-theme.el
Labels: new theme

#446 [-] Gruvbox light
  README.md
  doom-themes.el
  themes/doom-gruvbox-light-theme.el
Labels: new theme

#454 respects treemacs-fringe-indicator-mode
  doom-themes-ext-treemacs.el
Labels: enhancement, treemacs

#457 Fix internal README links for one-light & vibrant
  README.md
Labels: docs

#456 Fix almost invisible faces in notmuch mail (doom-solarized)
  themes/doom-solarized-light-theme.el
Labels: bug, plugins, theme:doom-solarized-light

#467 Add faces for Minimap
  doom-themes-base.el
Labels: plugins, theme:base

#462 Update colors to match official Nord theme
  themes/doom-nord-theme.el
Labels: enhancement, theme:doom-nord

#475 Add hard/soft contrast options for gruvbox dark
  themes/doom-gruvbox-light-theme.el
  themes/doom-gruvbox-theme.el
Labels: enhancement, theme:doom-gruvbox
