Repository doomemacs/themes, pull requests merged in 2020-03, with the labels that each got.

#384 mod: added theme ephemeral
  themes/doom-ephemeral-theme.el
Labels: New theme

#413 Add New Monokai Pro Theme
  themes/doom-monokai-pro-theme.el
Labels: new theme, request

#418 Add theme rouge
  README.md
  doom-themes.el
  themes/doom-rouge-theme.el
Labels: new theme
