Repository doomemacs/themes, pull requests merged in 2021-07, with the labels that each got.

#635 org-block darkened as bg and base3 are very alike
  themes/doom-vibrant-theme.el
Labels: bug, theme:doom-vibrant

#639 Add marginalia file privilege faces
  doom-themes-base.el
Labels: enhancement, plugins, theme:base

#640 Add orderless faces
  doom-themes-base.el
Labels: enhancement, plugins, theme:base

#641 Add marginalia documentation face
  doom-themes-base.el
Labels: enhancement, plugins, theme:base

#642 Consistent email faces
  doom-themes-base.el
Labels: plugins, theme:base
