Repository doomemacs/themes, pull requests merged in 2021-05, with the labels that each got.

#595 Add terraform-mode faces
  doom-themes-base.el
Labels: plugins, theme:base

#584 dracula-theme: Fix rendering of variable color
  themes/doom-dracula-theme.el
Labels: bug, theme:doom-dracula

#576 Fix doom-horizon's blue background in terminal and modeline fg bug.
  themes/doom-horizon-theme.el
Labels: bug, terminal only, theme:doom-horizon

#578 Fix faces for doom-plain and doom-ephemeral themes
  themes/doom-ephemeral-theme.el
  themes/doom-plain-theme.el
Labels: enhancement, plugins, theme:doom-ephemeral

#521 Add a shades-of-purple theme
  README.md
  themes/doom-shades-of-purple-theme.el
Labels: new theme, theme:doom-shades-of-purple

#545 Add new theme: doom-1337
  README.md
  themes/doom-1337-theme.el
Labels: new theme, theme:doom-1337

#443 [-] Add Badger theme
  README.md
  themes/doom-badger-theme.el
Labels: new theme, theme:doom-badger

#414 Add New Xcode Theme
  README.md
  themes/doom-xcode-theme.el
Labels: new theme, request, theme:doom-xcode

#603 Update README.md to fix typos in ayu themes
  README.md
Labels: docs

#570 New theme doom-solarized-dark-high-contrast
  README.md
  themes/doom-solarized-dark-high-contrast-theme.el
Labels: new theme, theme:doom-solarized-dark-high-contrast

#608 doom-one-light: use correct symbol name
  themes/doom-one-light-theme.el
Labels: bug, theme:doom-one-light

#609 molokai & monokai-classic : set vc-modified to cyan after 3f09923
  themes/doom-molokai-theme.el
  themes/doom-monokai-classic-theme.el
Labels: enhancement, theme:doom-molokai
