Repository doomemacs/themes, pull requests merged in 2021-12, with the labels that each got.

#680 Add corfu faces
  doom-themes-base.el
Labels: type:faces

#616 Add My Doom Gruvbox (fix)
  themes/doom-gruvbox-theme.el
Labels: theme:doom-gruvbox, type:enhancement

#650 Add Tokyo Night theme.
  README.md
  doom-themes.el
  themes/doom-tokyo-night-theme.el
Labels: type:new-theme

#653 Add Earl Grey theme
  themes/doom-earl-grey-theme.el
Labels: type:new-theme

#656 Update README.md
  README.md
Labels: type:enhancement, type:docs

#643 Add Material Dark Theme
  README.md
  doom-themes.el
  themes/doom-material-dark-theme.el
Labels: type:new-theme

#683 doom-meltbus: A dark (mostly) monochromatic theme
  README.md
  doom-themes.el
  themes/doom-meltbus-theme.el
Labels: type:new-theme
