Repository doomemacs/themes, pull requests merged in 2021-06, with the labels that each got.

#612 doom-nova: clean up codes
  themes/doom-nova-theme.el
Labels: bug, theme:doom-nova

#613 doom-nova: clean up codes
  themes/doom-nova-theme.el
Labels: enhancement, theme:doom-nova

#255 [RFC] IR Black
  themes/doom-ir-black-theme.el
Labels: new theme, request
