Repository doomemacs/themes, pull requests merged in 2021-09, with the labels that each got.

#646 doom-horizon: better orderless face
  themes/doom-horizon-theme.el
Labels: type:faces, theme:doom-horizon

#638 Improved color for the Ayu themes
  themes/doom-ayu-light-theme.el
  themes/doom-ayu-mirage-theme.el
Labels: type:faces, theme:doom-ayu-light, theme:doom-ayu-mirage

#661 3 for 1: Add org-cite faces, fade diredfl dash, marginalia numbers
  doom-themes-base.el
Labels: type:faces, theme:base
