Repository doomemacs/themes, pull requests merged in 2022-05, with the labels that each got.

#726 fix(ext-neotree): restore missing icons
  extensions/doom-themes-ext-neotree.el
Labels: is:bug, re:neotree

#713 fix(gruvbox-light) make gray readable
  doom-themes-base.el
  themes/doom-gruvbox-light-theme.el
  themes/doom-solarized-dark-high-contrast-theme.el
Labels: is:faces, theme:base, theme:solarized-dark-high-contrast, theme:gruvbox-light, re:term

#716 org-mode: align list items in mixed-pitch-mode
  extensions/doom-themes-ext-org.el
Labels: is:tweak, re:org
