Repository doomemacs/themes, pull requests merged in 2022-09, with the labels that each got.

#738 tweak(vibrant): use more vivid color for variables
  themes/doom-vibrant-theme.el
Labels: is:faces, theme:vibrant

#752 fix(ext-treemacs): add icon for pom.xml
  extensions/doom-themes-ext-treemacs.el
Labels: is:bug, re:treemacs

#750 feat(base): add symbol-overlay faces
  doom-themes-base.el
Labels: is:faces, theme:base
