Repository doomemacs/themes, pull requests merged in 2023-09, with the labels that each got.

#789 Xcode function color
  themes/doom-xcode-theme.el
Labels: is:faces, theme:xcode

#773 docs: fix in-page link in README
  README.md
Labels: is:docs

#772 feat(base): add font-lock-number-face
  doom-themes-base.el
Labels: is:faces, theme:base

#768 docs: fix docstring for some themes
  themes/doom-henna-theme.el
  themes/doom-homage-black-theme.el
  themes/doom-homage-white-theme.el
  themes/doom-wilmersdorf-theme.el
Labels: is:docs, theme:wilmersdorf, theme:henna, theme:homage-black, theme:homage-white

#794 fix: unescaped quotes in docstring for Emacs 29
  doom-themes.el
Labels: is:bug

#763 theme: add doom-oksolar-{dark,light}
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  doom-themes.el
  themes/doom-oksolar-dark-theme.el
  themes/doom-oksolar-light-theme.el
Labels: is:theme, theme:oksolar-dark, theme:oksolar-light

#764 theme: add doom-bluloco-dark and doom-bluloco-light themes
  README.md
  themes/doom-bluloco-dark-theme.el
  themes/doom-bluloco-light-theme.el
Labels: is:theme, theme:bluloco-dark, theme:bluloco-light

#787 fix(feather-light,flatwhite,one-light): 'nil value is invalid' warnings
  themes/doom-feather-light-theme.el
  themes/doom-flatwhite-theme.el
  themes/doom-one-light-theme.el
Labels: is:bug, theme:one-light, theme:flatwhite, theme:feather-light

#779 fix(acario-dark): 'nil value is invalid' warnings
  themes/doom-acario-dark-theme.el
Labels: is:bug, theme:acario-dark

#785 feat(base): add support for nerd-icons faces
  doom-themes-base.el
Labels: is:faces, theme:base

#797 tweak(monokai-pro): change line-number color base4->base5
  themes/doom-monokai-pro-theme.el
Labels: is:faces, theme:monokai-pro

#799 fix(challenger-deep): 'nil value is invalid' warnings
  themes/doom-challenger-deep-theme.el
Labels: is:bug, theme:challenger-deep

#800 fix(base): inherit 'isearch for lsp-ui-peek-highlight
  doom-themes-base.el
Labels: is:bug, theme:base
