Repository doomemacs/themes, pull requests merged in 2024-07, with the labels that each got.

#822 fix(ext-org): function name in commentary
  extensions/doom-themes-ext-org.el
Labels: is:docs

#828 doom-nova visual modifications
  themes/doom-nova-theme.el
Labels: is:tweak, theme:nova

#821 fix(molokai): line-number distant-fg - change `nil` -> `'unspecified`
  themes/doom-molokai-theme.el
Labels: is:bug, theme:molokai

#818 Fix: show-paren fg val from 'nil' to 'unspecified'
  themes/doom-gruvbox-theme.el
Labels: is:bug, theme:gruvbox

#817 Evaluate `base5` in `cider-result-overlay-face`'s `:box`
  doom-themes-base.el
Labels: is:bug, theme:base

#815 tweak(monokai): make regions in org blocks visible
  themes/doom-monokai-classic-theme.el
  themes/doom-monokai-machine-theme.el
  themes/doom-monokai-octagon-theme.el
  themes/doom-monokai-ristretto-theme.el
  themes/doom-monokai-spectrum-theme.el
Labels: is:tweak, theme:monokai-pro

#831 tweak(gruvbox): use magenta from the official palette
  themes/doom-gruvbox-theme.el
Labels: theme:gruvbox, is:tweak

#834 fix(base): ansi-color-bright-black should be readable as foreground
  doom-themes-base.el
Labels: is:bug, theme:base
