Repository doomemacs/themes, pull requests merged in 2024-11, with the labels that each got.

#837 nit: declare indenting rules for def-doom-themes
  doom-themes.el
Labels: is:bug

#840 Fix doom-homage themes
  themes/doom-homage-black-theme.el
  themes/doom-homage-white-theme.el
Labels: is:bug, theme:homage-black, theme:homage-white

#841 fix(base): replace :italic with :slant
  doom-themes-base.el
Labels: is:bug, theme:base

#842 fix(bluloco-light): Correct color for line numbers
  themes/doom-bluloco-light-theme.el
Labels: is:bug, theme:bluloco-light

#844 fix(treemacs): inherit from variable-pitch face at most once
  extensions/doom-themes-ext-treemacs.el
Labels: is:bug, re:treemacs

#845 fix(zenburn-light) :freground -> :foreground
  themes/doom-zenburn-theme.el
Labels: is:bug, theme:zenburn
